<header class="w-full py-2 bg-black">
    <nav class="mx-auto flex items-center justify-between w-4/5 text-white">
        <h1 routerLink="/" class="cursor-pointer text-5xl leading-10 font-bold text-indigo-400">
            API
            <p class="text-xs description-logo text-indigo-200 font-semibold">ANGULAR</p>
        </h1>
        <ul class="flex items-center">
            <li class="opacity-60 uppercase text-sm font-semibold duration-500  ml-10 hover:opacity-100 cursor-pointer"
                routerLink="/products">
                Products
            </li>
            <li class="opacity-60 uppercase text-sm font-semibold duration-500  ml-10 hover:opacity-100 cursor-pointer"
                routerLink="/users">
                Users
            </li>
            <li class="opacity-60 uppercase text-sm font-semibold duration-500  ml-10 hover:opacity-100 cursor-pointer"
                routerLink="/categories">
                Categories
            </li>
            <li class="uppercase text-sm font-semibold duration-300 ml-10 text-white hover:text-black hover:bg-indigo-400 cursor-pointer py-1 px-4 bg-neutral-800 rounded-sm"
                routerLink="/login">
                Ingresar
            </li>
        </ul>
    </nav>
</header>